/*
	Installed from https://reactbits.dev/default/
*/

.shiny-text {
  color: inherit; /* Use the parent button's color */
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 75%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 2s linear infinite;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

@keyframes shine {
  0% {
    background-position: 300% 0;
  }
  100% {
    background-position: -300% 0;
  }
}

.shiny-text.disabled {
  animation: none;
}
